<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @company.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Address one:</strong>
  <%= @company.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @company.address_two %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
